.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;

}

.google{
    width: 35px;
    height: 35px;
}

.google_button{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 2px dotted rgb(33, 33, 33);
    padding: 10px;
    border-radius: 20px;
}