.step_image{
    height: 350px;
    width: 350px;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;

}

.step_text{
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
}